altair
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools==5.5.2
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
Flask
gitdb==4.0.12
GitPython==3.1.44
greenlet
gunicorn==23.0.0
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
MarkupSafe
matplotlib-inline
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mysql-connector-python
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numexpr
numpy
outcome
overrides
packaging
pandas
pandocfilters
parso
patsy
pillow==11.2.1
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
psutil
pure-eval
pyarrow==20.0.0
pycparser
pydeck==0.9.1
Pygments
PyMySQL
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
python-json-logger
pytz
pywin32==308
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339_validator
rfc3986_validator
rpds-py
scikit-learn
scipy
selenium
Send2Trash
setuptools==72.1.0
sip
six
smmap==5.0.2
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
statsmodels
streamlit==1.45.1
streamlit-javascript==0.1.5
tenacity==9.1.2
terminado
threadpoolctl
tinycss2
toml==0.10.2
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
undetected-chromedriver==3.5.5
urllib3
watchdog==6.0.0
wcwidth
webencodings
websocket-client
websockets==15.0.1
Werkzeug
wheel==0.45.1
widgetsnbextension
win_inet_pton
wsproto
